/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Custom properties */

:root {
    --primary-bg-color: #061e27;
    --tertiary-bg-color: #cac7c7;
    --light-bg-color: #E2E2E2;

    --accent-color: #dc415f;
    --secondary-accent-color: #59183c;
    /* #ff5791; */

    --primary-text-color: #F4F6EF;
    --secondary-text-color: #01161E;
}

/* Old colour scheme */
/* :root {
    --primary-bg-color: #124559;
    --secondary-bg-color: #061e27;
    --tertiary-bg-color: #aec3b0;
    --light-bg-color: #E2E2E2;

    --accent-color: #b33f62;
    /* #ff5791; */

    /* --primary-text-color: #F4F6EF;
    --secondary-text-color: #01161E;
} */ 

/* General typography */

body {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.6rem;
}

a:visited,
a:link {
    color: #fff;
}

/* General layout */

.container {
    width: 80%;
    margin: 0 auto;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

footer {
    text-align: center;
    grid-row-start: 3;
    grid-row-end: 4;
    padding-top: 2em;
    padding-bottom: 0.5em;
}

/* Header */

header {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    padding: 2rem 0;
}

/* Main */

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem 0;
}

button {
    padding: 0.5em 1.8em;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button#addBook {
    font-size: 1.4rem;
    background-color: var(--accent-color);
    color: var(--primary-text-color);
    cursor: pointer;
}

/* Cards */
.card-group {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card {
    background-color: var(--light-bg-color);
    color: var(--secondary-text-color);
    border-radius: 10px;
    padding: 1.2rem;
}

.card .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.card .author {
    font-size: 1.2rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.remove {
    background-color: var(--secondary-accent-color);
    color: var(--primary-text-color);
}

/* Toggle button */

button.toggle {
    background-color: #fff;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.4em;
    border-radius: 25px;
}

.toggle::before, 
.toggle::after {
    border-radius: 28px;
    padding: 0.2rem 0.6rem;
}

.toggle::before {
    content: 'read';
}

.toggle::after {
    content: 'unread';
}

.toggle[aria-pressed="true"].toggle::before,
.toggle[aria-pressed="false"].toggle::after {
    background-color: var(--accent-color);
    color: var(--primary-text-color);
}

/* Modal */

.modal {
    max-width: 80%;
    margin: 0 auto;
    background-color: var(--light-bg-color);
    color: var(--secondary-text-color);
    border: none;
    border-radius: 10px;
    padding: 2rem;
    top: 15%;
}

.modal::backdrop {
    background: #000;
    opacity: 30%;
}

.book-form {
    display: grid;
    gap: 0.2rem;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.close-modal {
    cursor: pointer;
}

.book-form > label,
.book-form > div,
.book-form > button {
    margin-block-start: 1rem;;
}

.checkbox-input {
    display: flex;
    align-items: center;
    gap: 1rem;
}



